
* {
  padding: 0; margin: 0;
}

html {
  font-size: 16px;
  font-family: helvetica, sans-serif;

}

ul {
  list-style-type: none;
}

header {
  display: flex;
  width: 100%;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
}


h1 {
  color: #404040;
}

h3 {
  color: #404040;
}

h4 {
  color: #404040;
}

h5 {
  color: #4d4d4d;
}

p {
  color: #4d4d4d;
}

a {
  color: #00aaff
}

ul {
  display: flex;
}

ul li {
  margin-left: 1rem;
}



/*Header*/

.header.content2 {
  margin-right: 1.5rem;
}

.header.content1 {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  height: 2rem;
}

span.color1 {
  font-weight: bold;
}

span.color2 {
  font-weight: normal;
  color: grey;
}

/*first section*/


section.first {
  background-color: lightgrey;
  padding-top: 4rem;
  display: flex;
  align-items: center;
}


 .first img {
  width: 60%;
  margin: 2rem 1.5rem;
}

div.learn {
 display: flex;
 flex-direction: column;
 width: 225px;
}

.learn h1 {
  margin-bottom: 1.5rem;
}

.learn h5 {
  margin-bottom: 1.5rem;
}


 div.starthere {
   display: flex;
   justify-content: center;
   width: 220px;
   background-color: #404040;
 }

 .starthere span {
   padding: 8px 0;
   color: white;
 }

 /*Second Section*/

section.second {
  display: flex;
  height: 760px;
}

 /*Second Section Left*/

 div.left {
   margin: 2rem 1.5rem;
 }

 .second img {
  width: 93%;
 }

 .left h1 {
   margin-top: 2rem;
   width: 500px;

 }

 .left p {
   margin-top: 1.5rem;
   width: 500px;

 }
 .left span {
   display: block;
   margin-top: 4rem;
   width: 500px;
 }

 /*Second Section right*/

 div.right {
   width: 40%;
   border-left: 1px solid lightgrey;
 }
.right img {
  height: auto;
  width: 35%;
  margin: 1rem;
}

div.aa {
 display: flex;
 height: 15%;
}

div.wrap {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrap p {
  margin: 8px 0;
}

div.top {
  border-bottom: 2px solid lightgrey;
}

div.bottom {
  background-color: lightgrey;
}

.right a {
  text-decoration: none;
}

/*Third Section*/

Section.third {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  align-items: center;
}

.third h1 {
  margin-top: 2rem;
}


div.courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
  margin: 2rem 4.5rem;
}

div.box {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 15rem;
  height: 16rem;
}

div.box.b {
  margin: 0rem 2rem 2rem 2rem;
}

div.box.e {
  margin: 0rem 2rem 0rem 2rem;
}


div.words {
  margin: 1rem 1rem 1.5rem 1rem;
}

.box span {
  margin: 8px 0;
}

section img {
  height: auto;
  width: 100%;
}

/*Fourth Section*/
